.header {
  background-color: #c1c8f1;
  padding: 0;
  height: unset;
}
.header-container {
  background-image: url('/harmony_spirit.png');
  background-position: 100% center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.content {
  padding-top: 0.5rem;
}
/* .header-container,
.content,
.footer {
  padding-left: 3rem;
  padding-right: 3rem;
} */

.info {
  width: 100%;
  background-color: #fff;
}
.info-text {
  text-align: center;
  color: #aaa;
  font-size: 12px;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .header-container,
  .content,
  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .header-container,
  .content {
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }
}
